# PNPM Configuration
# Professional monorepo setup
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]="@types/*"
public-hoist-pattern[]=typescript
node-linker=isolated
prefer-workspace-packages=true