openapi: 3.0.3

info:
  title: Discord Music Bot API
  version: 1.0.0
  description: |
    RESTful API for the Discord Music Bot system.

    Provides endpoints for:
    - Analytics and metrics
    - Guild management
    - Music queue operations
    - Premium subscriptions
    - Webhook integrations (Stripe, Discord)

    ## Authentication
    All endpoints require API key authentication via the `X-API-Key` header,
    except for webhook endpoints which use signature verification.

    ## Rate Limiting
    - General endpoints: 100 requests/minute
    - Search endpoints: 10 requests/minute
    - Webhook endpoints: 50 requests/minute

  contact:
    name: Discord Bot Team
    url: https://github.com/your-org/discord-bot
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.discordmusicbot.com/api/v1
    description: Production server (global)
  - url: https://staging-api.discordmusicbot.com/api/v1
    description: Pre-production / staging server
  - url: https://sandbox-api.discordmusicbot.com/api/v1
    description: Internal development sandbox (VPN only)

tags:
  - name: Health
    description: Health check and readiness endpoints
  - name: Analytics
    description: Analytics and statistics endpoints
  - name: Guilds
    description: Guild management and settings
  - name: Music
    description: Music playback and queue management
  - name: Search
    description: Music search operations
  - name: Premium
    description: Premium subscription management
  - name: Webhooks
    description: Webhook receivers for external integrations

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns the health status of the API service
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /ready:
    get:
      tags:
        - Health
      summary: Readiness check
      description: Returns readiness status (can accept traffic)
      operationId: getReadiness
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /analytics/overview:
    get:
      tags:
        - Analytics
      summary: Get analytics overview
      description: Returns system-wide analytics and statistics
      operationId: getAnalyticsOverview
      parameters:
        - name: period
          in: query
          description: Time period for analytics
          required: false
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
      responses:
        '200':
          description: Analytics overview retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /analytics/guilds:
    get:
      tags:
        - Analytics
      summary: Get guild statistics
      description: Returns statistics for all guilds
      operationId: getGuildAnalytics
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Guild analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildAnalyticsList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /guilds:
    get:
      tags:
        - Guilds
      summary: List guilds connected to the bot
      description: Returns a paginated list of guilds synchronized from Discord along with their availability status.
      operationId: listGuilds
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Guild list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /guilds/{guildId}:
    get:
      tags:
        - Guilds
      summary: Get guild information
      description: Returns information about a specific guild
      operationId: getGuild
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Guild retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guild'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /guilds/{guildId}/settings:
    get:
      tags:
        - Guilds
      summary: Get guild settings
      description: Returns settings for a specific guild
      operationId: getGuildSettings
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildSettings'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      tags:
        - Guilds
      summary: Update guild settings
      description: Updates settings for a specific guild
      operationId: updateGuildSettings
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildSettingsUpdate'
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildSettings'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /guilds/{guildId}/channels:
    get:
      tags:
        - Guilds
      summary: List basic Discord channels
      description: Returns cached Discord channels (text/voice/stage) for a guild so the panel can invoke premium actions.
      operationId: getGuildChannels
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Channel list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildChannelList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /music/{guildId}/queue:
    get:
      tags:
        - Music
      summary: Get music queue
      description: Returns the current music queue for a guild
      operationId: getMusicQueue
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Queue retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicQueue'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /music/{guildId}/queue/add:
    post:
      tags:
        - Music
      summary: Add track to queue
      description: Adds a track to the guild's music queue
      operationId: addToQueue
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTrackRequest'
      responses:
        '201':
          description: Track added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueEntry'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /player/{guildId}/now-playing:
    get:
      tags:
        - Music
      summary: Get live playback state
      description: Returns the current playback state reported by the audio service cache
      operationId: getNowPlayingState
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Playback state retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NowPlaying'
        '404':
          description: Guild not found or no playback data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /player/{guildId}/events:
    get:
      tags:
        - Music
      summary: Subscribe to live playback events
      description: |-
        Server-Sent Events (SSE) stream that emits `snapshot` and `update` payloads when the audio service publishes
        `discord-bot:ui:now`. Clients should include the API key via query string (`?apiKey=`) and keep the connection alive.
      operationId: subscribePlayerEvents
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Event stream opened
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /player/{guildId}/stream-token:
    post:
      tags:
        - Music
      summary: Generate browser playback token
      description: Issues a short-lived token that authorizes `/player/{guildId}/stream`.
      operationId: createPlayerStreamToken
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamToken'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /player/{guildId}/stream:
    get:
      tags:
        - Music
      summary: Proxy audio stream for panel playback
      description: |-
        Streams the current track (YouTube sources are transcoded via ytdl-core; other URIs are proxied as-is). Requires a
        valid `token` query parameter obtained from `/player/{guildId}/stream-token`.
      operationId: streamPlayerAudio
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Audio stream
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /player/{guildId}/controls:
    post:
      tags:
        - Music
      summary: Send remote playback action
      description: Issues a playback action (toggle, skip, stop, shuffle, mute, volume) against the active guild player
      operationId: sendPlayerControl
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerControlRequest'
      responses:
        '200':
          description: Command accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerControlResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'

  /player/{guildId}/summon:
    post:
      tags:
        - Music
      summary: Premium bot summon from panel
      description: Invokes the Discord bot into a selected voice channel (premium guilds only).
      operationId: summonBotFromPanel
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummonRequest'
      responses:
        '200':
          description: Summon accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerControlResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /search:
    get:
      tags:
        - Search
      summary: Search for music
      description: Searches for music across multiple platforms
      operationId: searchMusic
      parameters:
        - name: query
          in: query
          description: Search query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - name: source
          in: query
          description: Search source
          required: false
          schema:
            type: string
            enum: [youtube, spotify, soundcloud, all]
            default: all
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 10
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /premium/subscription/{guildId}:
    get:
      tags:
        - Premium
      summary: Get subscription status
      description: Returns premium subscription status for a guild
      operationId: getSubscription
      parameters:
        - $ref: '#/components/parameters/GuildIdParam'
      responses:
        '200':
          description: Subscription retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          description: No active subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /premium/checkout:
    post:
      tags:
        - Premium
      summary: Create checkout session
      description: Creates a Stripe checkout session for premium upgrade
      operationId: createCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'

  /premium/cancel:
    post:
      tags:
        - Premium
      summary: Cancel subscription
      description: Cancels premium subscription (at period end)
      operationId: cancelSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        '200':
          description: Subscription cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /webhooks/stripe:
    post:
      tags:
        - Webhooks
      summary: Stripe webhook
      description: Receives Stripe webhook events for subscription management
      operationId: handleStripeWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeWebhookEvent'
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          description: Invalid webhook signature or payload

  /webhooks/discord:
    post:
      tags:
        - Webhooks
      summary: Discord webhook
      description: Receives Discord webhook events
      operationId: handleDiscordWebhook
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscordWebhookEvent'
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          description: Invalid webhook signature or payload

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  parameters:
    GuildIdParam:
      name: guildId
      in: path
      description: Discord guild ID
      required: true
      schema:
        type: string
        pattern: '^\d{17,19}$'

    PageParam:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Items per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    BadRequestError:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UnauthorizedError:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimitError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        X-RateLimit-Limit:
          description: Request limit per time window
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
        X-RateLimit-Reset:
          description: Unix timestamp when limit resets
          schema:
            type: integer

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        timestamp:
          type: string
          format: date-time
        uptime:
          type: integer
          description: Uptime in seconds
        version:
          type: string
        dependencies:
          type: object
          properties:
            database:
              type: string
              enum: [healthy, unhealthy]
            redis:
              type: string
              enum: [healthy, unhealthy]
            lavalink:
              type: string
              enum: [healthy, unhealthy]

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
        timestamp:
          type: string
          format: date-time

    AnalyticsOverview:
      type: object
      properties:
        totalGuilds:
          type: integer
        activeGuilds:
          type: integer
        totalUsers:
          type: integer
        activeUsers:
          type: integer
        tracksPlayed:
          type: integer
        commandsExecuted:
          type: integer
        premiumGuilds:
          type: integer
        averageQueueLength:
          type: number
        period:
          type: string

    GuildAnalyticsList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GuildAnalytics'
        pagination:
          $ref: '#/components/schemas/Pagination'

    GuildAnalytics:
      type: object
      properties:
        guildId:
          type: string
        tracksPlayed:
          type: integer
        commandsExecuted:
          type: integer
        activeUsers:
          type: integer
        averageSessionDuration:
          type: integer
        tier:
          type: string
          enum: [FREE, TRIAL, PREMIUM]

    Guild:
      type: object
      properties:
        id:
          type: string
          description: Discord guild ID
        name:
          type: string
          description: Friendly guild name pulled from Discord
        icon:
          type: string
          format: uri
          nullable: true
          description: CDN URL for the guild icon, if available
        memberCount:
          type: integer
          nullable: true
        available:
          type: boolean
          description: Indicates whether the guild is currently reachable by the bot
        subscriptionTier:
          type: string
          description: Plan tier configured in ServerConfiguration
        isPremium:
          type: boolean
          description: True when the guild can access premium-only controls

    GuildList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Guild'
        pagination:
          $ref: '#/components/schemas/Pagination'
        timestamp:
          type: string
          format: date-time

    GuildChannelList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GuildChannel'
        timestamp:
          type: string
          format: date-time

    GuildChannel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [text, voice, announcement, stage]

    SummonRequest:
      type: object
      required:
        - voiceChannelId
        - textChannelId
      properties:
        voiceChannelId:
          type: string
        textChannelId:
          type: string

    GuildSettings:
      type: object
      properties:
        guildId:
          type: string
        volume:
          type: integer
          minimum: 0
          maximum: 200
        autoplay:
          type: boolean
        autoplayMode:
          type: string
          enum: [similar, artist, genre, mixed]
        loopMode:
          type: string
          enum: [off, track, queue]
        streamable:
          type: boolean
          description: Indicates whether the API can proxy the audio for web playback
        djRoleId:
          type: string
          nullable: true
        notificationChannelId:
          type: string
          nullable: true

    GuildSettingsUpdate:
      type: object
      properties:
        volume:
          type: integer
          minimum: 0
          maximum: 200
        autoplay:
          type: boolean
        autoplayMode:
          type: string
          enum: [similar, artist, genre, mixed]
        loopMode:
          type: string
          enum: [off, track, queue]
        djRoleId:
          type: string
          nullable: true
        notificationChannelId:
          type: string
          nullable: true

    MusicQueue:
      type: object
      properties:
        guildId:
          type: string
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/QueueEntry'
        totalTracks:
          type: integer
        totalDuration:
          type: integer

    QueueEntry:
      type: object
      properties:
        id:
          type: string
        position:
          type: integer
        title:
          type: string
        author:
          type: string
        url:
          type: string
        duration:
          type: integer
        thumbnail:
          type: string
          nullable: true
        addedBy:
          type: string
        addedAt:
          type: string
          format: date-time

    AddTrackRequest:
      type: object
      required:
        - query
        - userId
      properties:
        query:
          type: string
          description: YouTube URL or search query
        userId:
          type: string
        position:
          type: string
          enum: [end, next, now]
          default: end

    PlayerControlRequest:
      type: object
      required:
        - action
      properties:
        action:
          type: string
          enum: [toggle, skip, stop, shuffle, clear, previous, mute, volume]
        value:
          type: integer
          minimum: 0
          maximum: 200
          description: Required when action is volume

    PlayerControlResponse:
      type: object
      properties:
        accepted:
          type: boolean

    StreamToken:
      type: object
      properties:
        token:
          type: string
        expires:
          type: integer
          format: int64

    NowPlaying:
      type: object
      properties:
        guildId:
          type: string
        title:
          type: string
        author:
          type: string
          nullable: true
        uri:
          type: string
          nullable: true
        artworkUrl:
          type: string
          nullable: true
        durationMs:
          type: integer
        positionMs:
          type: integer
        isStream:
          type: boolean
        paused:
          type: boolean
        repeatMode:
          type: string
          enum: [off, track, queue]
        queueLen:
          type: integer
        hasTrack:
          type: boolean
        canSeek:
          type: boolean
        volume:
          type: integer
          minimum: 0
          maximum: 200
        autoplay:
          type: boolean
        autoplayMode:
          type: string
          enum: [off, similar, artist, genre, mixed]
        filter:
          type: object
          properties:
            id:
              type: string
            label:
              type: string
            description:
              type: string
          nullable: true
        updatedAt:
          type: integer
          format: int64
          description: Epoch milliseconds when the cache entry was produced

    SearchResults:
      type: object
      properties:
        query:
          type: string
        source:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
        total:
          type: integer

    SearchResult:
      type: object
      properties:
        title:
          type: string
        author:
          type: string
        url:
          type: string
        duration:
          type: integer
        thumbnail:
          type: string
        source:
          type: string
          enum: [youtube, spotify, soundcloud]

    Subscription:
      type: object
      properties:
        id:
          type: string
        guildId:
          type: string
        tier:
          type: string
          enum: [FREE, TRIAL, PREMIUM]
        status:
          type: string
          enum: [ACTIVE, CANCELLED, EXPIRED, PAST_DUE]
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        stripeCustomerId:
          type: string
          nullable: true
        stripeSubscriptionId:
          type: string
          nullable: true

    CheckoutRequest:
      type: object
      required:
        - guildId
        - userId
        - planId
      properties:
        guildId:
          type: string
        userId:
          type: string
        planId:
          type: string
          enum: [premium_monthly, premium_yearly]

    CheckoutResponse:
      type: object
      properties:
        checkoutUrl:
          type: string
        sessionId:
          type: string

    CancelRequest:
      type: object
      required:
        - guildId
      properties:
        guildId:
          type: string
        cancelAtPeriodEnd:
          type: boolean
          default: true

    StripeWebhookEvent:
      type: object
      description: Stripe webhook event payload
      properties:
        id:
          type: string
        type:
          type: string
        data:
          type: object

    DiscordWebhookEvent:
      type: object
      description: Discord webhook event payload
      properties:
        content:
          type: string
        embeds:
          type: array
          items:
            type: object

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrevious:
          type: boolean
